streamlit
scikit-learn
joblib
numpy
pandas
shap 
matplotlib
fpdf2
Pillow
folium 
streamlit-folium
geopy
streamlit
joblib
numpy 
pandas 
datetime
folium
streamlit_folium 
st_folium
geopy.geocoders 
Nominatim
fpdf
FPDF
os
random